<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <link rel="stylesheet" href="/static/css/base.css" />
    <!-- TODO -->
    <title> HEADER </title>
  </head>
  <body>
    <div id="Top">
        <nav role="navigation" id="Nav">
              <li>
                <a href="/"> Home </a>
              </li>
              <li>
                <a href="/archives"> Archive </a>
              </li>
              <li>
                <a href="/categories"> Categories</a>
              </li>
              <li>
                <a href="/note"> Note</a>
              </li>
              <li>
                <a href="/about"> About </a>
              </li>
        </nav>
    </div> 

    <div id="Content"> {% block content %}{% endblock %} </div>

    <div id="Bottom">
        Copyright © Luoluo 2011-2017 | All Rights Reserved.
    </div>
  </body>

</html>
